@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font and reset */
html {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Scrollbar for dense data */
::-webkit-scrollbar {
  width: 8px;
  background: theme('colors.secondary');
}
::-webkit-scrollbar-thumb {
  background: theme('colors.accent');
  border-radius: 4px;
}
